node_modules
npm-debug.log
.env
.env.local
.env.development
.env.test
.env.production
dist
.next
.nuxt
.vuepress/dist
.serverless
.fusebox
.dynamodb
.tern-project
.tern-port
.vscode
.DS_Store
*.tgz
*.tar.gz
coverage
.nyc_output
.cache
.parcel-cache
.eslintcache
.git
.gitignore
README.md
Dockerfile
docker-compose.yml
.dockerignore